.mainDiv {
  padding: 5em;
}
.visible {
  display: block;
}

.invisible {
  display: none;
}

.headerDiv {
  float: left;
  margin-right: 3em;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.divFleft {
  float: left;
  clear: both;
}
